*{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
}

body{
    background-color: var(--BgBlue);
    
    /* setting position for "view more" Media Query */
    position: relative;
    
}

:root {

/* blue */
    /* --BgBlue: #04101f;
    --FgBlue: #082140;
    --MateBlue: #122133; */

/* teal */
    --BgBlue: #041F19;
    --FgBlue: #084035;
    --MateBlue: #12332D;
    
}

/* header design --------------------------------------------*/

header {
    display: flex;
    height: 80px;
    width: 100%;
    background-color: var(--BgBlue);
    padding: 0 3%;
    position: sticky;
    top:0px;
    z-index: 10;
    box-sizing: border-box;
}

/* Left-side of header */
/* ---------------------------------------------------------------- */


.left-contain {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
}

.app-identity {
    display: flex;
    align-items: center;
}

.app-identity img {
    height: 4vw;
    width: 4vw;
    margin-right: 10px;
    margin-top:5px;

    animation: zoom-in-zoom-out 1s ease infinite;
}

.app-name {
    color:white;
    font-family: 'Lato', sans-serif;
    font-size: 1.3vw;
    animation: zoom-in-zoom-out 1s ease infinite;
}

#favourites {
    color:white;
    margin-left: 15%;
    font-family: 'Lato', sans-serif;
    font-weight:700;
    font-size: 0.9vw;
    border: solid 1px #084035;
    padding: 5px 20px;
    border-radius: 5px;
    opacity: 0.9;
}

#favourites:hover {
    transform: scale(1.1);
    cursor: pointer;
}

/* Right-side of header */
/* ---------------------------------------------------------------- */

.right-contain {
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 2%;
}

#search-icon:hover {
    cursor: pointer;
    transform: scale(1.5);
    opacity: 1;
}

.search-box{
    height: 25px;
    width: 35vw;
    border-radius: 10px;
    background-color: var(--FgBlue);
    display: flex;
    justify-content:space-around;
    align-items: center;
    padding: 3px;

    position: relative;
}

#mic:hover {
    transform: scale(1.2);
    cursor: pointer;
    opacity: 1;
    color:rgb(255, 104, 104);
}

.search-box span {
    color:white; 
    opacity: 0.8;
    margin-top: 3px;
}


#input {
    width: 80%;
    height: 80%;

    /* position: absolute;
    top:0; */
    
}

#input input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    background-color: var(--FgBlue);
    color: white;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size:smaller;
}

/* Mic icon */
.search-box .material-symbols-outlined {
    font-size: 13px;
    opacity: 0.6;
}

/* Notification icon size*/
.right-contain .material-symbols-outlined {
    opacity: 0.7;
    font-variation-settings:
    'FILL' 1,
    'wght' 1000,
    'GRAD' 0,
    'opsz' 48
}

/* Notification icon */
.right-contain > span {
    color:white;
    margin: 0 5%;
    font-size: 15px;

}
/* Notification icon hover */
#notification:hover {
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    backface-visibility: hidden;
    perspective: 1000px;
    cursor: pointer;
}

/* Profile image */
.image {
    height: 4vw;
    width: 4vw;
}

.image img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
}

/* ******************************************************************** */
/* Main Container Start*/
/* ---------------------------------------------------------------- */

.container {
    box-sizing: border-box;
    height: 100vh;
    width: 80%;
    margin: 2% 10% 0 10%;
    display: flex;
    /* to show content above footer else it will go under footer */
    margin-bottom: 70px;
}

/* ******************************************************************** */
/* Main Content Area Start */
/* ---------------------------------------------------------------- */

main {
    /* background-color: orange; */
    height: 100%;
    width: 70%;
    margin-right: 1%;
    overflow: scroll;
    overflow-x: hidden;
}

/* carousel design ---------------------------*/

.carousel-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;

}

.carousel-container .carousel {
    height: 100%;
    width: 17.5vw;
}

.carousel-container img {
    height: 100%;
    width: 100%;
}

.carousel-container img:hover {
    transform: scale(1.1);
}

/* *************************************************** */
/* Latest release section----------------------- */

/* outer container----------- */
.latest-release-container {
    width: 100%;
    height: auto;
    color: white;
    display: flex;
    flex-wrap: wrap;
}

.latest-release-container .latest-release-content{
    width: 40%;
    height: 45%;
    display: flex;
    align-items: center;
    margin-right: 20px;
    margin-bottom: 15px;
    position: relative;
}

.latest-release-content .icon-time{
    position: absolute;
    top:0;
    right:0;
}

/* hover helper */
.hover-helper{
    width: 5.8vw;
    height: 5.2vw;
    position: relative;
    margin-right: 10px;
}

/* image size */
.latest-release-container .latest-release-content img{
    width: 5.8vw;
    height: 5.2vw;
}

/* play overlay on song image */
.latest-release-content .play-overlay{
    width: 5.8vw;
    height: 5.2vw;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
    opacity: 0.7;
    background-color: rgba(0, 0, 0, 0.469);
}

.play-overlay span {
    position: absolute;
    top: 25%;
    left:25%;
    font-size: 3vw;
}

/* show play button on hover */
.latest-release-content .hover-helper:hover .play-overlay{
    display: block;
}

/* song description */
.latest-release-content .song-text {
    margin-right: 90px;
}

/* song font size */
.latest-release-content .song-text p{
    font-size: 0.7vw;
    margin-top: 10px;
    word-spacing: 3px;
}

.latest-release-content .song-text .h4{
    font-size: 1vw;
    font-weight: 700;
}

/* song duration */
.latest-release-content .icon-time {
    opacity: 0.7;
    height: 100%;
    font-size: 0.7vw;
}
/* three dot */
.latest-release-content .icon-time .material-symbols-outlined{
    font-size: 1vw;
}

/* label of section main h2 */
main h2{
    margin: 25px 0 15px 0;
    color: white;
    font-size:1.8vw;
}

/* not required handled by aside style */
/* .latest-release-content .dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--FgBlue);
    min-width: 130px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    border-radius: 5px;
    color: white;
    right: 0;
    
    z-index: 10;
} */

.latest-release-content ul div {
    display: flex;
    align-items: center;
    margin: 5px;
}

.latest-release-content ul div:hover {
    opacity: 0.7;
}

.latest-release-content ul span{
    margin-right: 8px;
}

/* --------------------------------------------- */
/* popular artist container*/
.popular-artist {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: space-between;
}

/* single artist container */
.popular-artist .artist-img{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

/* artist image */
.popular-artist .artist-img img{
    height: 8.5vw;
    width: 8.5vw;
    border-radius: 50%;
}

.popular-artist img:hover {
    background: greenyellow; 
    box-shadow: 0 0 50px rgba(172, 255, 47, 0.516); 
}


/* rewmoving underline from anchor tag */
.popular-artist a p{
    color: white;
    margin-top: 10px;
    font-size: 1.1vw;
    font-weight: 700;
}

/* Station section ------------------------------------------- */

/* Station container ------------*/
.station-container {
    margin-top:25px;
    height: auto;
    width: 100%;
    /* background-color: #07382e; */

    display: flex;
    align-items: center; 
    padding: 3vw 0;
    
}

/* station container left side design */
#div1 {
    width: 7.8vw;
    height: 5.2vw;
    background-color: rgb(170, 58, 250);
}

#div2{
    position: relative;
    top: -0.65vw;
    left: 0.65vw;
    width: 6.5vw;
    height: 6.5vw;
    background-color: rgb(144, 238, 218);
}

#div3{
    position: relative;
    top: -0.65vw;
    left: 0.65vw;
    width: 5.2vw;
    height: 7.8vw;
    background-color: orange;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#div3 img {
    width: 3.25vw;
    height: 3.25vw;
}

#div3 p {
    font-size: 1vw;
    color:white;
}

/* station content style */
.station-content {
    height: 5vw;
    width: 5vw;
    border-radius: 100%;
    position: relative;
    background-color: red;
    margin-left: 1.5vw;
    
}

.station-content:hover img{ 
    animation: spin 1s ease-out 1;
}

  /* image style */
  .station-content img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
  }

  /* station music genre */
  .station-content p {
    color: white;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    font-size: 1vw;
    border-radius: 100%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 0deg, rgb(0, 49, 49) -66%, rgba(255, 0, 0, 0.176) );

  }
/* ****************************************************** */
  /* section : music genre container ---------------------------------- */
  .music-genre-container {
    width: 100%;
    height: 12vw;
    margin-top: 30px;
    display: flex;
    justify-content: space-between;
    
  }

  /* individual genre container */
  .music-genre-container .genre {
    height: 100%;
    width: 32%;
    overflow:hidden;
    position: relative;
    
  }

   /* image of genre */
   .music-genre-container .genre img {
    height: 100%;
    width: 100%;
  }

  .music-genre-container .genre:hover img{
    animation: zoom-in 0.8s 1;
    animation-fill-mode: forwards;
  }

  /* genre name */
  .music-genre-container .genre p {
    color: white;
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    font-size: 2vw;
    
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient( 0deg, rgb(0, 84, 84) -66%, rgba(255, 0, 0, 0.344) );
  }

  /* ---------------------------------------------------------- */
  /* Latest english song section -------------------------------------- */
  .latest-english-container {
    height: auto;
    width: 100%;
    color: white;

    display: flex;
    justify-content: space-between;
    
    }

    .english-song img{
        height: 7vw;
        width: 7vw;
    }

    .english-song img:hover{
        cursor: pointer;
        transform: scale(1.1);
    }


    .english-song p{
        font-size: 0.8vw;
        margin-top: 6px;
        word-spacing: 3px;
    }

    .english-song h5{
        margin-top: 4px;
        font-size: 1vw;
    }


/* ******************************************************************** */
/* Side Bar Start*/
/* ---------------------------------------------------------------- */

aside {
    /* background-color: orange; */
    color:white;
    height: auto;
    width: 22vw;
    margin-left: 5px;

    overflow: scroll;
    /* overflow-x: hidden; */
    /* overflow:hidden; */
}
/* ***************************************************** */
/* Queue container-----------------*/
aside .sidebar-heading-container{
    /* height: 8%; */
    display: flex;
    align-items: center;

    margin-bottom: 5%;
    position: relative;
}

.Queue-container {
    width: 20%;
    display: flex;
    margin-right: 10px;
    position: absolute;
    top:0px;
    right: 5px;

}

/* Dropdown queue */
.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--FgBlue);
    min-width: 10vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    border-radius: 5px;
    color: white;
    right: 0;
    z-index: 10;
}

.dropdown-content li{
    list-style: none;
    padding: 5px 0px 5px 8px;
    border:1px solid var(--BgBlue);
    font-size: 1vw;
}

.dropdown:hover{
    cursor: pointer;
}

.dropdown-content li:hover{
    cursor: pointer;
    opacity: 0.7;
}
  
.dropdown:hover .dropdown-content {
    display: block;
}

/* Song list */
.single-song-container {

    width: 100%;

    display: flex;
    align-items: center;
    margin-top: 5%;
    justify-content: space-around;
    background-color: transparent;
}

.single-song-container .num {
    width: 5%;
    font-size: 0.8vw;
    margin-right: 8px;
}

.single-song-container img {
    width: 2.7vw;
    height: 2.7vw;
    margin-right: 8px;
}

.single-song-container .song-name {
    width:60%;

}

.single-song-container .song-name h4{
    font-size: 0.8vw;
}

.single-song-container .song-name p{
    font-size: 0.7vw;
    margin-top: 4px;
}

.single-song-container .icon {
    width:10%;
    height:80%;
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.icon .material-symbols-outlined{
    font-size: 1.3vw; 
}

/* Singer name light color */
.single-song-container p {
    opacity: 0.6;
}


/* ******************************************************************** */
/* footer Bar Start*/
/* ---------------------------------------------------------------- */

footer {
    height: 65px;
    width: 100vw;
    position: fixed;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #1e2926;
    color: white;

    z-index: 5;
}


footer .left-container {
    height: 75%;
    width: 18%;
    display: flex;
}

footer .middle-container {
    height: 75%;
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

footer .right-container {
    height: 75%;
    width:20%;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* ----------------------------------------------------------- */
/* footer left side content */

/* song cover image */
.foot-image img {
    height: 50px;
    width: 50px;
    margin-right: 10px;
}

/* song and singer name container */
.foot-songName {
    height: 100%;
    width: calc(100% - 25% - 25%);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    box-sizing: border-box;
    padding: 4px 0;
}

/* song name */ 
.foot-songName h6 {
    font-size: 15px;
    font-weight: 500;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
}

/* singer name */
footer .foot-songName p{
    font-size: 10px;
    font-weight: 400;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: clip;
    opacity: 0.7;
}

/* favourite icon container */
footer .foot-favIcon {
    height: 100%;
    width: 25%;
    display: flex;
    justify-content: flex-end;

    margin-left: 10px;
}

/* icon size */
.foot-favIcon .material-symbols-outlined {
    font-size: 110%;
    padding: 0 5px;
    margin-top: 8%;
    opacity: 0.7;
}

/* ---------------------------------------------------- */
/* footer middle side content */

/* music controls container*/
.middle-container .music-control {
    height: 70%;
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

/* icon style music control */

/* next previous style */
.music-control .material-symbols-outlined.nextPrev {
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 48
}

/* reduce icon size of music control */
.reduce-icon-size {
    font-size: 110%;
}

/* increase size of pause button */
.increase-icon-size {
    font-size: 200%;
}


/* slider and duration time style container*/
.middle-container .duration-slider {
    height: 20%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* duration font size */ 
.duration-slider p {
    font-size: 70%;
    opacity: 0.7;
    padding-bottom: 3px;
}

/* slider container */
.slidecontainer{
    width: 85%;
}

.slidecontainer input[type="range"] {
    width: 100%;
    opacity: 0.8;
}


/* footer right side content ------------------------ */

.right-container .slidecontainer-volume { 
    width: 40%;
}

.right-container .slidecontainer-volume input {
    width: 100%;
}

/* Footer ends here------------------------------------------- */

/* View More button when screen size reduce */
.viewMore {
    height: 45px;
    width: 40px;

    background-color: var(--FgBlue);
    color: white;

    position: fixed;
    right: 0;
    top: 100px;

    border-top-left-radius: 10px;
    border-bottom-left-radius:10px;

    display: none;
}

/* expand symbol---- */
#expand-button {
    font-size: 40px;
    position: fixed;
    right: 2px;
    top: 102px;
}

/* backround will hidden when hover */
.viewMore:hover{
    background-color: var(--BgBlue)
}

#expand-button:hover{
    cursor: pointer;
    color: rgb(255, 166, 0)
}

/* queue sidebar will showup */
.viewMore:hover .viewMore-dropdown-container{
    display: block;
}

/* DROPDOWN menu container style */
.viewMore-dropdown-container {
   
    position: fixed;
    right: 0;
    top: 140px;

    background-color: var(--FgBlue);
    min-width: 30vw;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

    border-radius: 5px;
    color: white;
    right: 0;
    z-index: 10;

    display: none;

    overflow: scroll;
}

/* list item->queue */
.viewMore-dropdown-container li{
    list-style: none;
    padding: 5px 0px 5px 8px;
    border:1px solid var(--BgBlue);
    font-size: 3vw;
    
}

.viewMore-dropdown-container li:hover{
    cursor: pointer;
    opacity: 0.7;
}